<div class="category-bg">

<h1 class="text-center text-white style="margin-top: 60px;">Categories</h1>


<div class="container">
  <% @categories.each do |category|%>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class=" card text-center card-1 text-white bg2 mr-4 rounded">
          
          <div class="card-body text-white">
            <h5 class="card-title"><%= link_to category.name, category_path(category), class: " font-weight-bold text-info"%></h5> 
            <p class="card-text text-light"><%= pluralize(category.articles.count, "article") %></p>
          </div>

          <div class="card-footer mb-4 text-white text-muted">
            <small> created <%= time_ago_in_words(category.created_at) %> ago,
            Edited <%= time_ago_in_words(category.updated_at)%> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flickr_pagination mt-4 mb-4">
    <%= will_paginate @categories, :container => false %>
</div>
</div>
