<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">

  <%= render 'layouts/navigation'%>
  <%# <hr class="divider"> %>
 
  
    <%# <iframe src="http://free.timeanddate.com/clock/i7d3u4ou/n4188/szw160/szh160/hbw0/hfc000/cf100/hgr0/hwc000/fav0/fiv0/mqcfff/mql15/mqw4/mqd94/mhcfff/mhl15/mhw4/mhd94/mmv0/hhcbbb/hmcddd/hsceee" frameborder="0" width="160" height="160"></iframe> %>
   <%= render 'layouts/messages'%>
    <%= yield %>

  <%= render 'layouts/footer'%>
  </body>
</html>
